<%= form_for(@trade) do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% @trade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% k = Trade.new %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :instrument_id %><br />
    <%= f.number_field :instrument_id %>
  </div>
  <div class="field">
    <%= "Date" %><br />
    <%= f.date_select :odate %>
  </div>
  <div class="field">
    <%= "Time" %><br />
    <%= f.time_select :otime %>
  </div>
  <div class="field">
    <%= "Number of shares or contracts " %><br />
    <%= f.number_field :oshares %>
  </div>
  <div class="field">
    <%= "Bias: Choose 'Long' if this trade opens or closes a long position." %><br />
    <%= f.select :obias, [["Long",k.const[:long]],["Short",k.const[:short]]] %>
  </div>
  <div class="field">
    <%= "Choose BUY or SELL "  %><br />
    <%= f.select :otype, [["Buy",k.const[:buy]],["Sell",k.const[:sell]]] %>
  </div>
  <div class="field">
    <%= "Price"  %><br />
    <%= f.text_field :oprice %>
  </div>
  <div class="field">
    <%= "Chose 'Open' if this trade opens or increases your position." %><br />
    <%= f.select :oeffect, [["Open",k.const[:open]],["Close",k.const[:close]]] %>
  </div>
  <div class="field">
    <%= "Comments for this trade." %><br />
    <%= f.text_area :onotes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
